@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab|Poppins|Roboto&display=swap');

:root {
    --header-font: Poppins;
    --paragraph-font: Roboto;
}

body {
    background: white;
    background-size: cover;
    /* background-color: #999; linear-gradient(left to right rgba(0,0,0,0.2),rgba(0,0,0,0.2)), */
    margin-top: 5px;
}

.navbar {
    font-family: val(--header-font);
    background: blue
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: val(--header-font);
}

.hero img {
    width: 90%;
    margin-top: 30px;
    
    transition: all 0.5s;
}

.hero img:hover{
  transform: scale(1.05);
}
.hero-right {
    margin-top: 90px;
}

p {
    font-family: val(--paragraph-font);
}
.brief-history {
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

.brief-history p {
    font-size: 20px;
    font-family: 'josefin san';
    color: #000;
}

.brief-history p.owner {
    font-size: 18px;
    color: #666;
    font-weight: 600;
}

.info img {
    margin-top: 5px;
    border-radius: 5px;
}

.info .info-right {
    margin-top: 80px; 
}

footer {
    text-align: left;
    padding: 5px;
    background: #f1f1f1;
}

.review {
    padding: 20px;
    text-decoration: underline;
}

.customer-review {
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 100, 0.2);
    padding-bottom: 50px;
    margin-bottom: 10px;
}

.customer-review p {
    padding: 50px 10px 10px 10px;
}


.admin-log {
    margin:20px auto;
    width: 50%; 
}

.copyright {
    margin-top: 15px;
}
.form-control{
  width: 80%;
}
.form-heading {
    display: block;
    font-size: 2rem;
    margin-left: 10%;
}

.form-headings {
    display: block;
    font-size: 2rem;
    margin-left: -15%;
    
}
.panel {
    margin-top:4rem;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: fixed;
    right: 25%;
    width: 50%;
    overflow: hidden;
    background: #17A2BB;
    background-repeat: repeat;
}
form {
    display: block;
    margin-left: 10%;
    margin-top: 7%;
}
.meal-showcase{
  list-style: none;
 }
 .meal-showcase li{
   display: block;
   width: 25%;
   float: left;
  }

 .meal-photo{
 width: 100%;
  margin: 0;
  overflow: hidden;
 }
 .meal-photo img{
   width: 100%;
   height: auto;
   transform: scale(1.15);
   transition: all 0.5s;
 }
 .meal-photo img:hover{
   transform: scale(1.05);
 }
 .meal{
   margin-top: 60px;
 }

.form-inputs {
    border: 1px solid #D4D9E2;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    color: #596377;
    outline: 0;
    height: 40px;
    display: block;
    width: 68.5%;
    margin-top: 25px;
    margin-bottom: 35px;
    transition: border-color .2s ease;
}
#transaction-main {
    height: 90.5vh;
    background-color: #dfe0e2;
     }
  
  #transaction-section {
    padding-top: 0.5em;
    margin-left: 1em;
  }
  #transaction-section > h3 {
    text-align: right;
    padding-right: 0.5em;
    color: #A92E65;
  }
  
  #transaction-section > h1 {
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 1em;
    color: #A92E65;
  }
  #transaction-table {
    overflow: auto;
    height: 60vh;
    margin-left: 16.5em;
    margin-right: 16.5em;
  }
  
  .transaction-table {
    background: #ffffffc2;
    margin-bottom: 1em;
    table-layout: fixed;
    color: #909090;
  }
  
  table,
  th,
  td {
    text-align: center;
  }
  
  .transaction-table th {
    padding: 1em;
    background: #A92E65;
    color: #eee;
    table-layout: fixed;
    width: 200px;
  }
  .transaction-table td {
    width: 214px;
    padding: 0.5em;
    border-bottom: 2px solid #dfe0e2;
    color: #A92E65;
  }
  .transaction-table tr {
    display: block;
    width: 100%;
  }
  .transaction-table tbody {
    display: block;
    overflow: auto;
    height: 40vh;
    width: 100%;
  }
  
  @media (max-width: 769px) {
    #transaction-main {
      height: 90vh;
      overflow: auto;
    }

    #transaction-table {
        width: 80%;
        margin-right: 9em;
        margin-left: 3em
      }
  
    #transaction-section > h1 {
      font-size: 1.6em;
    }
  
    #transaction-section > h3 {
      margin-bottom: 0.5em;
    }
    .transaction-table th {
      font-size: 0.93em;
    }
    .transaction-table td {
      font-size: 0.9em;
      width: 50%;
    }
  }